@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    
}
*{
    box-sizing: content-box;
}
body,#root{
    background-color: #222;
    height: 100vh;
    width: 100vw;
}
